# Exercises for part I - Try it at home

## List
 
1. Create a list of numbers from 1 to 10

In [11]:
a = [1,3,4,5,10]
print(a)

[1, 3, 4, 5, 10]

2. Append to the list the number 20

In [13]:
a.append(20)
print(a)

[1, 3, 4, 5, 10, 20]

3. Insert two zeros after the fourth place of the list

In [19]:
a.insert(4,0)
a

[1, 3, 4, 5, 0, 0, 0, 0, 10, 20]

4. Sort the list in reverse order

In [24]:
a.sort(reverse=True)
a

[20, 10, 5, 4, 3, 1, 0, 0, 0, 0]

5. Remove the last two items from the list

In [30]:
a.pop()
a.pop()


a

TypeError: pop() takes at most 1 argument (2 given)

6. Invert the order of the list

In [31]:
a.reverse()
a

[0, 0, 1, 3, 4, 10, 20]

7. How many items has the list?

In [34]:
len(a)

7

8. Give the minimum, maximum and the sum of all the items in the list

In [36]:
print(min(a))
print(max(a))
print(sum(a))

0
20
38

9. What will happen if you multiply the list by 2?

In [38]:
a * 3

[0, 0, 1, 3, 4, 10, 20, 0, 0, 1, 3, 4, 10, 20, 0, 0, 1, 3, 4, 10, 20]

10. Can you divide the list by 3?

In [39]:
a / 3

TypeError: unsupported operand type(s) for /: 'list' and 'int'

# Tupples
 
1. Create a tupple with three characters and four numbers

In [41]:
t = ('a', 'b' , 'c', 1, 2, 3, 4)
t

('a', 'b', 'c', 1, 2, 3, 4)

2. Append two booleans (false, true) to the tupple

In [46]:
t1 = t + (True, False)
t1

('a', 'b', 'c', 1, 2, 3, 4, True, False)

3. Retrieve the third to sixth items from the tupple

In [54]:
t1[3:6]

(1, 2, 3)

4. Divide the tupple by data type and create a list for each, then create a muttable tupple using these lists

In [70]:
a = []
b = []
c = []
for x in t1:
    if(isinstance(x,bool)):
      a.append(x)
    elif(isinstance(x,int)):
      b.append(x)
    elif(isinstance(x,str)):
      c.append(x)
    
print(a)
print(b)
print(c)

t2 = (a, b, c)
t2

[True, False]
[1, 2, 3, 4]
['a', 'b', 'c']

([True, False], [1, 2, 3, 4], ['a', 'b', 'c'])

# Sets
 
1. Create a set using the following paragraph:
 
<quote>
"Shallow copy is a bit-wise copy of an object. A new object is created that has an exact copy of the values in the original object"
<quote>
 
Note: Each part of the set must be a word, not a character!

In [76]:
txt = "Shallow copy is a bit-wise copy of an object. A new object is created that has an exact copy of the values in the original object"
s = set(txt.replace('.', ' ').lower().split(" "))
s

{'',
 'a',
 'an',
 'bit-wise',
 'copy',
 'created',
 'exact',
 'has',
 'in',
 'is',
 'new',
 'object',
 'of',
 'original',
 'shallow',
 'that',
 'the',
 'values'}

2. Do you see something wierd in this set? What? How can you prevent that?

# Dictionary
 
1. Generate a dictionary from the following table:

<table>
    <tr> <th> EmployeeID </th> <th> Name </th> <th> Position </th> <th> Phone </th> </tr>
    <tr> <td> 1020 </td> <td> Harry Smith </td> <td> Sales Manager </td> <td> 030-223.65.44 </td> </tr>
    <tr> <td> 2201 </td><td> Margaret Holsum </td> <td> Sales Representative </td> <td> 030-223.64.12 </td> </tr>
    <tr> <td> 3320 </td><td> Lasly Howard </td> <td> Human Resources </td> <td> 030-223.83.33 </td> </tr>
    <tr> <td> 8111 </td><td> Larry Johnson </td> <td> Project Manager </td> <td> 030-224.22.00 </td> </tr>
    <tr> <td> 2733 </td><td> Hellen Young </td> <td> Customer Service </td> <td> 030-223.03.20 </td> </tr>
</table>

1. Get all the keys of the dictionary

2. Get all the values of the dictionary

3. Show the third row of the table by calling the dictionary using the respective EmployeeID

# Loop programming in python
 
1. Write a script that shows all the primary numbers from 1 to 100. Use for.. loop and if..else

In [82]:
for x in range(2,100):
    found = False
    for y in range(2,x - 1):
        if(x%y == 0):
            found = True;
            break;
    if (found == False):
        print("%d is a primary number" % x)

2 is a primary number
3 is a primary number
5 is a primary number
7 is a primary number
11 is a primary number
13 is a primary number
17 is a primary number
19 is a primary number
23 is a primary number
29 is a primary number
31 is a primary number
37 is a primary number
41 is a primary number
43 is a primary number
47 is a primary number
53 is a primary number
59 is a primary number
61 is a primary number
67 is a primary number
71 is a primary number
73 is a primary number
79 is a primary number
83 is a primary number
89 is a primary number
97 is a primary number

2. Write a different solution to the problem in the last question, but using while.. in place of for..

In [89]:
for x in range(2,100):
    found = False
    y = 2
    while (found == False and y < x):
        if(x%y == 0):
            found = True
        y = y + 1
            
    if (found == False):
        print("%d is a primary number" % x)

2 is a primary number
3 is a primary number
5 is a primary number
7 is a primary number
11 is a primary number
13 is a primary number
17 is a primary number
19 is a primary number
23 is a primary number
29 is a primary number
31 is a primary number
37 is a primary number
41 is a primary number
43 is a primary number
47 is a primary number
53 is a primary number
59 is a primary number
61 is a primary number
67 is a primary number
71 is a primary number
73 is a primary number
79 is a primary number
83 is a primary number
89 is a primary number
97 is a primary number