# Python Intro - Part 3

# Working with Pandas Data Frames

In [3]:
import pandas as pd
 
iris = pd.read_csv("../data/iris.csv")
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
## add new colums to the df
iris['sepal_ratio'] = iris.sepal_length / iris.sepal_width
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species  sepal_ratio
0           5.1          3.5           1.4          0.2  setosa     1.457143
1           4.9          3.0           1.4          0.2  setosa     1.633333
2           4.7          3.2           1.3          0.2  setosa     1.468750
3           4.6          3.1           1.5          0.2  setosa     1.483871
4           5.0          3.6           1.4          0.2  setosa     1.388889

In [5]:
iris['petal_ratio'] = iris.petal_length / iris['petal_width']
iris.head()

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_ratio,petal_ratio
0,5.1,3.5,1.4,0.2,setosa,1.457143,7.0
1,4.9,3.0,1.4,0.2,setosa,1.633333,7.0
2,4.7,3.2,1.3,0.2,setosa,1.468750,6.5
3,4.6,3.1,1.5,0.2,setosa,1.483871,7.5
4,5.0,3.6,1.4,0.2,setosa,1.388889,7.0

In [6]:
## now proceed with checking the values of the df
iris.describe()
iris.shape

(150, 7)

In [14]:
## create categorical variables for the sepal and petal width
iris['petalw_cat'] = pd.np.floor(iris.petal_width)
iris['sepalw_cat'] = pd.np.floor(iris.sepal_width)

print(iris['sepalw_cat'])
print(iris['petalw_cat'])

0      3.0
1      3.0
2      3.0
3      3.0
4      3.0
      ...
145    3.0
146    2.0
147    3.0
148    3.0
149    3.0
Name: sepalw_cat, Length: 150, dtype: float64
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
145    2.0
146    1.0
147    2.0
148    2.0
149    1.0
Name: petalw_cat, Length: 150, dtype: float64

In [2]:
## subsetting
iris[iris.petalw_cat==2]

AttributeError: 'DataFrame' object has no attribute 'petalw_cat'

In [16]:
iris.describe()

,sepal_length,sepal_width,petal_length,petal_width,sepal_ratio,petal_ratio,petalw_cat,sepalw_cat
count,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.054000,3.758667,1.198667,1.955144,4.367166,0.860000,2.646667
std,0.828066,0.433594,1.764420,0.763161,0.398697,2.651508,0.714472,0.532648
min,4.300000,2.000000,1.000000,0.100000,1.268293,2.125000,0.000000,2.000000
25%,5.100000,2.800000,1.600000,0.300000,1.551915,2.802381,0.000000,2.000000
50%,5.800000,3.000000,4.350000,1.300000,2.032292,3.300000,1.000000,3.000000
75%,6.400000,3.300000,5.100000,1.800000,2.224910,4.666667,1.000000,3.000000
max,7.900000,4.400000,6.900000,2.500000,2.961538,15.000000,2.000000,4.000000

In [19]:
### subsetting for given values
iris[iris.species.isin(['virginica','versicolor'])]

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_ratio,petal_ratio,petalw_cat,sepalw_cat
50,7.0,3.2,4.7,1.4,versicolor,2.187500,3.357143,1.0,3.0
51,6.4,3.2,4.5,1.5,versicolor,2.000000,3.000000,1.0,3.0
52,6.9,3.1,4.9,1.5,versicolor,2.225806,3.266667,1.0,3.0
53,5.5,2.3,4.0,1.3,versicolor,2.391304,3.076923,1.0,2.0
54,6.5,2.8,4.6,1.5,versicolor,2.321429,3.066667,1.0,2.0
...,...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,2.233333,2.260870,2.0,3.0
146,6.3,2.5,5.0,1.9,virginica,2.520000,2.631579,1.0,2.0
147,6.5,3.0,5.2,2.0,virginica,2.166667,2.600000,2.0,3.0
148,6.2,3.4,5.4,2.3,virginica,1.823529,2.347826,2.0,3.0
149,5.9,3.0,5.1,1.8,virginica,1.966667,2.833333,1.0,3.0

In [25]:
# subsetting between values

iris2 = iris.copy()
iris2 = iris2[iris2['petal_length'].between(5,6)]
iris2

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_ratio,petal_ratio,petalw_cat,sepalw_cat
77,6.7,3.0,5.0,1.7,versicolor,2.233333,2.941176,1.0,3.0
83,6.0,2.7,5.1,1.6,versicolor,2.222222,3.187500,1.0,2.0
100,6.3,3.3,6.0,2.5,virginica,1.909091,2.400000,2.0,3.0
101,5.8,2.7,5.1,1.9,virginica,2.148148,2.684211,1.0,2.0
102,7.1,3.0,5.9,2.1,virginica,2.366667,2.809524,2.0,3.0
103,6.3,2.9,5.6,1.8,virginica,2.172414,3.111111,1.0,2.0
104,6.5,3.0,5.8,2.2,virginica,2.166667,2.636364,2.0,3.0
108,6.7,2.5,5.8,1.8,virginica,2.680000,3.222222,1.0,2.0
110,6.5,3.2,5.1,2.0,virginica,2.031250,2.550000,2.0,3.0
111,6.4,2.7,5.3,1.9,virginica,2.370370,2.789474,1.0,2.0
112,6.8,3.0,5.5,2.1,virginica,2.266667,2.619048,2.0,3.0
113,5.7,2.5,5.0,2.0,virginica,2.280000,2.500000,2.0,2.0
114,5.8,2.8,5.1,2.4,virginica,2.071429,2.125000,2.0,2.0
115,6.4,3.2,5.3,2.3,virginica,2.000000,2.304348,2.0,3.0
116,6.5,3.0,5.5,1.8,virginica,2.166667,3.055556,1.0,3.0
119,6.0,2.2,5.0,1.5,virginica,2.727273,3.333333,1.0,2.0
120,6.9,3.2,5.7,2.3,virginica,2.156250,2.478261,2.0,3.0
124,6.7,3.3,5.7,2.1,virginica,2.030303,2.714286,2.0,3.0
125,7.2,3.2,6.0,1.8,virginica,2.250000,3.333333,1.0,3.0
128,6.4,2.8,5.6,2.1,virginica,2.285714,2.666667,2.0,2.0
129,7.2,3.0,5.8,1.6,virginica,2.400000,3.625000,1.0,3.0
132,6.4,2.8,5.6,2.2,virginica,2.285714,2.545455,2.0,2.0
133,6.3,2.8,5.1,1.5,virginica,2.250000,3.400000,1.0,2.0
134,6.1,2.6,5.6,1.4,virginica,2.346154,4.000000,1.0,2.0
136,6.3,3.4,5.6,2.4,virginica,1.852941,2.333333,2.0,3.0
137,6.4,3.1,5.5,1.8,virginica,2.064516,3.055556,1.0,3.0
139,6.9,3.1,5.4,2.1,virginica,2.225806,2.571429,2.0,3.0
140,6.7,3.1,5.6,2.4,virginica,2.161290,2.333333,2.0,3.0
141,6.9,3.1,5.1,2.3,virginica,2.225806,2.217391,2.0,3.0
142,5.8,2.7,5.1,1.9,virginica,2.148148,2.684211,1.0,2.0
143,6.8,3.2,5.9,2.3,virginica,2.125000,2.565217,2.0,3.0
144,6.7,3.3,5.7,2.5,virginica,2.030303,2.280000,2.0,3.0
145,6.7,3.0,5.2,2.3,virginica,2.233333,2.260870,2.0,3.0
146,6.3,2.5,5.0,1.9,virginica,2.520000,2.631579,1.0,2.0
147,6.5,3.0,5.2,2.0,virginica,2.166667,2.600000,2.0,3.0
148,6.2,3.4,5.4,2.3,virginica,1.823529,2.347826,2.0,3.0
149,5.9,3.0,5.1,1.8,virginica,1.966667,2.833333,1.0,3.0

In [22]:
iris.describe()

,sepal_length,sepal_width,petal_length,petal_width,sepal_ratio,petal_ratio,petalw_cat,sepalw_cat
count,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.054000,3.758667,1.198667,1.955144,4.367166,0.860000,2.646667
std,0.828066,0.433594,1.764420,0.763161,0.398697,2.651508,0.714472,0.532648
min,4.300000,2.000000,1.000000,0.100000,1.268293,2.125000,0.000000,2.000000
25%,5.100000,2.800000,1.600000,0.300000,1.551915,2.802381,0.000000,2.000000
50%,5.800000,3.000000,4.350000,1.300000,2.032292,3.300000,1.000000,3.000000
75%,6.400000,3.300000,5.100000,1.800000,2.224910,4.666667,1.000000,3.000000
max,7.900000,4.400000,6.900000,2.500000,2.961538,15.000000,2.000000,4.000000

In [27]:
pd.__version__

'0.25.1'

In [42]:

### aggregate - added to pandas version 0.20.0 !!!
tt = iris.agg({'petal_ratio':[min,max,"mean","median",len],'sepal_ratio':[min,max,"mean",pd.np.median,len]})
tt

        petal_ratio  sepal_ratio
min        2.125000     1.268293
max       15.000000     2.961538
mean       4.367166     1.955144
median     3.300000     2.032292
len      150.000000   150.000000

In [45]:
iris.groupby('species').agg({'sepal_length':[min,max,len]})

           sepal_length
                    min  max   len
species
setosa              4.3  5.8  50.0
versicolor          4.9  7.0  50.0
virginica           4.9  7.9  50.0

 iris %>% filter() %>% group_by() %>% summarise()

In [46]:
### getting all together (like with dplyr in R)
# 1. filter
# 2. group
# 3. summarise
iris[(iris.sepalw_cat.isin([0,2,3])) & (iris['petal_length'].between(1,4))].\
    groupby('species').\
    agg({'sepal_ratio':[min,"mean","median",max,len], 'petal_ratio':[min,"mean","median",max,len]})

           sepal_ratio                                     petal_ratio  \
                   min      mean    median       max   len         min
species
setosa        1.277778  1.487079  1.469669  1.956522  46.0    2.666667
versicolor    1.925926  2.219015  2.196154  2.727273  16.0    2.727273


                mean median   max   len
species
setosa      7.003261    7.0  15.0  46.0
versicolor  3.274770    3.3   4.0  16.0

# Working with Files (I/O)

#### Read, write and append data

In [98]:
f = open("iris.csv",'r')
### read the first line
f.readline()

'"","sepal_length","sepal_width","petal_length","petal_width","species"\n'

In [20]:
### read the next line
f.readline()

'"1",5.1,3.5,1.4,0.2,"setosa"\n'

In [21]:
### read the next line
f.readline()

'"2",4.9,3,1.4,0.2,"setosa"\n'

In [94]:
### read the next lines after the actual cursor
f.readlines()

['"1",5.1,3.5,1.4,0.2,"setosa"\n',
 '"2",4.9,3,1.4,0.2,"setosa"\n',
 '"3",4.7,3.2,1.3,0.2,"setosa"\n',
 '"4",4.6,3.1,1.5,0.2,"setosa"\n',
 '"5",5,3.6,1.4,0.2,"setosa"\n',
 '"6",5.4,3.9,1.7,0.4,"setosa"\n',
 '"7",4.6,3.4,1.4,0.3,"setosa"\n',
 '"8",5,3.4,1.5,0.2,"setosa"\n',
 '"9",4.4,2.9,1.4,0.2,"setosa"\n',
 '"10",4.9,3.1,1.5,0.1,"setosa"\n',
 '"11",5.4,3.7,1.5,0.2,"setosa"\n',
 '"12",4.8,3.4,1.6,0.2,"setosa"\n',
 '"13",4.8,3,1.4,0.1,"setosa"\n',
 '"14",4.3,3,1.1,0.1,"setosa"\n',
 '"15",5.8,4,1.2,0.2,"setosa"\n',
 '"16",5.7,4.4,1.5,0.4,"setosa"\n',
 '"17",5.4,3.9,1.3,0.4,"setosa"\n',
 '"18",5.1,3.5,1.4,0.3,"setosa"\n',
 '"19",5.7,3.8,1.7,0.3,"setosa"\n',
 '"20",5.1,3.8,1.5,0.3,"setosa"\n',
 '"21",5.4,3.4,1.7,0.2,"setosa"\n',
 '"22",5.1,3.7,1.5,0.4,"setosa"\n',
 '"23",4.6,3.6,1,0.2,"setosa"\n',
 '"24",5.1,3.3,1.7,0.5,"setosa"\n',
 '"25",4.8,3.4,1.9,0.2,"setosa"\n',
 '"26",5,3,1.6,0.2,"setosa"\n',
 '"27",5,3.4,1.6,0.4,"setosa"\n',
 '"28",5.2,3.5,1.5,0.2,"setosa"\n',
 '"29",5.2,3.4,1.4,0.2,"setosa"\n',
 '"30",4.7,3.2,1.6,0.2,"setosa"\n',
 '"31",4.8,3.1,1.6,0.2,"setosa"\n',
 '"32",5.4,3.4,1.5,0.4,"setosa"\n',
 '"33",5.2,4.1,1.5,0.1,"setosa"\n',
 '"34",5.5,4.2,1.4,0.2,"setosa"\n',
 '"35",4.9,3.1,1.5,0.2,"setosa"\n',
 '"36",5,3.2,1.2,0.2,"setosa"\n',
 '"37",5.5,3.5,1.3,0.2,"setosa"\n',
 '"38",4.9,3.6,1.4,0.1,"setosa"\n',
 '"39",4.4,3,1.3,0.2,"setosa"\n',
 '"40",5.1,3.4,1.5,0.2,"setosa"\n',
 '"41",5,3.5,1.3,0.3,"setosa"\n',
 '"42",4.5,2.3,1.3,0.3,"setosa"\n',
 '"43",4.4,3.2,1.3,0.2,"setosa"\n',
 '"44",5,3.5,1.6,0.6,"setosa"\n',
 '"45",5.1,3.8,1.9,0.4,"setosa"\n',
 '"46",4.8,3,1.4,0.3,"setosa"\n',
 '"47",5.1,3.8,1.6,0.2,"setosa"\n',
 '"48",4.6,3.2,1.4,0.2,"setosa"\n',
 '"49",5.3,3.7,1.5,0.2,"setosa"\n',
 '"50",5,3.3,1.4,0.2,"setosa"\n',
 '"51",7,3.2,4.7,1.4,"versicolor"\n',
 '"52",6.4,3.2,4.5,1.5,"versicolor"\n',
 '"53",6.9,3.1,4.9,1.5,"versicolor"\n',
 '"54",5.5,2.3,4,1.3,"versicolor"\n',
 '"55",6.5,2.8,4.6,1.5,"versicolor"\n',
 '"56",5.7,2.8,4.5,1.3,"versicolor"\n',
 '"57",6.3,3.3,4.7,1.6,"versicolor"\n',
 '"58",4.9,2.4,3.3,1,"versicolor"\n',
 '"59",6.6,2.9,4.6,1.3,"versicolor"\n',
 '"60",5.2,2.7,3.9,1.4,"versicolor"\n',
 '"61",5,2,3.5,1,"versicolor"\n',
 '"62",5.9,3,4.2,1.5,"versicolor"\n',
 '"63",6,2.2,4,1,"versicolor"\n',
 '"64",6.1,2.9,4.7,1.4,"versicolor"\n',
 '"65",5.6,2.9,3.6,1.3,"versicolor"\n',
 '"66",6.7,3.1,4.4,1.4,"versicolor"\n',
 '"67",5.6,3,4.5,1.5,"versicolor"\n',
 '"68",5.8,2.7,4.1,1,"versicolor"\n',
 '"69",6.2,2.2,4.5,1.5,"versicolor"\n',
 '"70",5.6,2.5,3.9,1.1,"versicolor"\n',
 '"71",5.9,3.2,4.8,1.8,"versicolor"\n',
 '"72",6.1,2.8,4,1.3,"versicolor"\n',
 '"73",6.3,2.5,4.9,1.5,"versicolor"\n',
 '"74",6.1,2.8,4.7,1.2,"versicolor"\n',
 '"75",6.4,2.9,4.3,1.3,"versicolor"\n',
 '"76",6.6,3,4.4,1.4,"versicolor"\n',
 '"77",6.8,2.8,4.8,1.4,"versicolor"\n',
 '"78",6.7,3,5,1.7,"versicolor"\n',
 '"79",6,2.9,4.5,1.5,"versicolor"\n',
 '"80",5.7,2.6,3.5,1,"versicolor"\n',
 '"81",5.5,2.4,3.8,1.1,"versicolor"\n',
 '"82",5.5,2.4,3.7,1,"versicolor"\n',
 '"83",5.8,2.7,3.9,1.2,"versicolor"\n',
 '"84",6,2.7,5.1,1.6,"versicolor"\n',
 '"85",5.4,3,4.5,1.5,"versicolor"\n',
 '"86",6,3.4,4.5,1.6,"versicolor"\n',
 '"87",6.7,3.1,4.7,1.5,"versicolor"\n',
 '"88",6.3,2.3,4.4,1.3,"versicolor"\n',
 '"89",5.6,3,4.1,1.3,"versicolor"\n',
 '"90",5.5,2.5,4,1.3,"versicolor"\n',
 '"91",5.5,2.6,4.4,1.2,"versicolor"\n',
 '"92",6.1,3,4.6,1.4,"versicolor"\n',
 '"93",5.8,2.6,4,1.2,"versicolor"\n',
 '"94",5,2.3,3.3,1,"versicolor"\n',
 '"95",5.6,2.7,4.2,1.3,"versicolor"\n',
 '"96",5.7,3,4.2,1.2,"versicolor"\n',
 '"97",5.7,2.9,4.2,1.3,"versicolor"\n',
 '"98",6.2,2.9,4.3,1.3,"versicolor"\n',
 '"99",5.1,2.5,3,1.1,"versicolor"\n',
 '"100",5.7,2.8,4.1,1.3,"versicolor"\n',
 '"101",6.3,3.3,6,2.5,"virginica"\n',
 '"102",5.8,2.7,5.1,1.9,"virginica"\n',
 '"103",7.1,3,5.9,2.1,"virginica"\n',
 '"104",6.3,2.9,5.6,1.8,"virginica"\n',
 '"105",6.5,3,5.8,2.2,"virginica"\n',
 '"106",7.6,3,6.6,2.1,"virginica"\n',
 '"107",4.9,2.5,4.5,1.7,"virginica"\n',
 '"108",7.3,2.9,6.3,1.8,"virginica"\n',
 '"109",6.7,2.5,5.8,1.8,"virginica"\n',
 '"110",7.2,3.6,6.1,2.5,"virginica"\n',
 '"111",6.5,3.2,5.1,2,"virginica"\n',
 '"112",6.4,2.7,5.3,1.9,"virginica"\n',
 '"113",6.8,3,5.5,2.1,"virginica"\n',
 '"114",5.7,2.5,5,2,"virginica"\n',
 '"115",5.8,2.8,5.1,2.4,"virginica"\n',
 '"116",6.4,3.2,5.3,2.3,"virginica"\n',
 '"117",6.5,3,5.5,1.8,"virginica"\n',
 '"118",7.7,3.8,6.7,2.2,"virginica"\n',
 '"119",7.7,2.6,6.9,2.3,"virginica"\n',
 '"120",6,2.2,5,1.5,"virginica"\n',
 '"121",6.9,3.2,5.7,2.3,"virginica"\n',
 '"122",5.6,2.8,4.9,2,"virginica"\n',
 '"123",7.7,2.8,6.7,2,"virginica"\n',
 '"124",6.3,2.7,4.9,1.8,"virginica"\n',
 '"125",6.7,3.3,5.7,2.1,"virginica"\n',
 '"126",7.2,3.2,6,1.8,"virginica"\n',
 '"127",6.2,2.8,4.8,1.8,"virginica"\n',
 '"128",6.1,3,4.9,1.8,"virginica"\n',
 '"129",6.4,2.8,5.6,2.1,"virginica"\n',
 '"130",7.2,3,5.8,1.6,"virginica"\n',
 '"131",7.4,2.8,6.1,1.9,"virginica"\n',
 '"132",7.9,3.8,6.4,2,"virginica"\n',
 '"133",6.4,2.8,5.6,2.2,"virginica"\n',
 '"134",6.3,2.8,5.1,1.5,"virginica"\n',
 '"135",6.1,2.6,5.6,1.4,"virginica"\n',
 '"136",7.7,3,6.1,2.3,"virginica"\n',
 '"137",6.3,3.4,5.6,2.4,"virginica"\n',
 '"138",6.4,3.1,5.5,1.8,"virginica"\n',
 '"139",6,3,4.8,1.8,"virginica"\n',
 '"140",6.9,3.1,5.4,2.1,"virginica"\n',
 '"141",6.7,3.1,5.6,2.4,"virginica"\n',
 '"142",6.9,3.1,5.1,2.3,"virginica"\n',
 '"143",5.8,2.7,5.1,1.9,"virginica"\n',
 '"144",6.8,3.2,5.9,2.3,"virginica"\n',
 '"145",6.7,3.3,5.7,2.5,"virginica"\n',
 '"146",6.7,3,5.2,2.3,"virginica"\n',
 '"147",6.3,2.5,5,1.9,"virginica"\n',
 '"148",6.5,3,5.2,2,"virginica"\n',
 '"149",6.2,3.4,5.4,2.3,"virginica"\n',
 '"150",5.9,3,5.1,1.8,"virginica"\n']

We can interact through the lines of the file and make some operations.
Lets divide the dataset into three independent datasets: one for each type of flower.

We will:
- Opend the files for read/write/append
- Iterate though lines
- Check the content of the line for the name of the flower
- Append the new data to the respective file
- Close the files

In [9]:
### input file
f = open("iris.csv",'r')

In [10]:
### output file
setosa = open("setosa.csv","a")
versicolor = open("versicolor.csv","a")
virginica = open("virginica.csv","a")

In [11]:
### read the first line that has the column names
names = f.readline()
print(names)

"","sepal_length","sepal_width","petal_length","petal_width","species"

In [13]:
### write the column names into each of the three files
setosa.write(names)
versicolor.write(names)
virginica.write(names)

71

In [14]:
iris = f.readlines()
for line in iris:
    if "setosa" in line:
        print("Setosa is in %s" % line)
        setosa.write(line)
    elif "versicolor" in line:
        print("Versicolor is in %s" % line)
        versicolor.write(line)
    else:
        print("Virginica is in %s" % line)
        virginica.write(line)

Setosa is in "1",5.1,3.5,1.4,0.2,"setosa"

Setosa is in "2",4.9,3,1.4,0.2,"setosa"

Setosa is in "3",4.7,3.2,1.3,0.2,"setosa"

Setosa is in "4",4.6,3.1,1.5,0.2,"setosa"

Setosa is in "5",5,3.6,1.4,0.2,"setosa"

Setosa is in "6",5.4,3.9,1.7,0.4,"setosa"

Setosa is in "7",4.6,3.4,1.4,0.3,"setosa"

Setosa is in "8",5,3.4,1.5,0.2,"setosa"

Setosa is in "9",4.4,2.9,1.4,0.2,"setosa"

Setosa is in "10",4.9,3.1,1.5,0.1,"setosa"

Setosa is in "11",5.4,3.7,1.5,0.2,"setosa"

Setosa is in "12",4.8,3.4,1.6,0.2,"setosa"

Setosa is in "13",4.8,3,1.4,0.1,"setosa"

Setosa is in "14",4.3,3,1.1,0.1,"setosa"

Setosa is in "15",5.8,4,1.2,0.2,"setosa"

Setosa is in "16",5.7,4.4,1.5,0.4,"setosa"

Setosa is in "17",5.4,3.9,1.3,0.4,"setosa"

Setosa is in "18",5.1,3.5,1.4,0.3,"setosa"

Setosa is in "19",5.7,3.8,1.7,0.3,"setosa"

Setosa is in "20",5.1,3.8,1.5,0.3,"setosa"

Setosa is in "21",5.4,3.4,1.7,0.2,"setosa"

Setosa is in "22",5.1,3.7,1.5,0.4,"setosa"

Setosa is in "23",4.6,3.6,1,0.2,"setosa"

Setosa is in "24",5.1,3.3,1.7,0.5,"setosa"

Setosa is in "25",4.8,3.4,1.9,0.2,"setosa"

Setosa is in "26",5,3,1.6,0.2,"setosa"

Setosa is in "27",5,3.4,1.6,0.4,"setosa"

Setosa is in "28",5.2,3.5,1.5,0.2,"setosa"

Setosa is in "29",5.2,3.4,1.4,0.2,"setosa"

Setosa is in "30",4.7,3.2,1.6,0.2,"setosa"

Setosa is in "31",4.8,3.1,1.6,0.2,"setosa"

Setosa is in "32",5.4,3.4,1.5,0.4,"setosa"

Setosa is in "33",5.2,4.1,1.5,0.1,"setosa"

Setosa is in "34",5.5,4.2,1.4,0.2,"setosa"

Setosa is in "35",4.9,3.1,1.5,0.2,"setosa"

Setosa is in "36",5,3.2,1.2,0.2,"setosa"

Setosa is in "37",5.5,3.5,1.3,0.2,"setosa"

Setosa is in "38",4.9,3.6,1.4,0.1,"setosa"

Setosa is in "39",4.4,3,1.3,0.2,"setosa"

Setosa is in "40",5.1,3.4,1.5,0.2,"setosa"

Setosa is in "41",5,3.5,1.3,0.3,"setosa"

Setosa is in "42",4.5,2.3,1.3,0.3,"setosa"

Setosa is in "43",4.4,3.2,1.3,0.2,"setosa"

Setosa is in "44",5,3.5,1.6,0.6,"setosa"

Setosa is in "45",5.1,3.8,1.9,0.4,"setosa"

Setosa is in "46",4.8,3,1.4,0.3,"setosa"

Setosa is in "47",5.1,3.8,1.6,0.2,"setosa"

Setosa is in "48",4.6,3.2,1.4,0.2,"setosa"

Setosa is in "49",5.3,3.7,1.5,0.2,"setosa"

Setosa is in "50",5,3.3,1.4,0.2,"setosa"

Versicolor is in "51",7,3.2,4.7,1.4,"versicolor"

Versicolor is in "52",6.4,3.2,4.5,1.5,"versicolor"

Versicolor is in "53",6.9,3.1,4.9,1.5,"versicolor"

Versicolor is in "54",5.5,2.3,4,1.3,"versicolor"

Versicolor is in "55",6.5,2.8,4.6,1.5,"versicolor"

Versicolor is in "56",5.7,2.8,4.5,1.3,"versicolor"

Versicolor is in "57",6.3,3.3,4.7,1.6,"versicolor"

Versicolor is in "58",4.9,2.4,3.3,1,"versicolor"

Versicolor is in "59",6.6,2.9,4.6,1.3,"versicolor"

Versicolor is in "60",5.2,2.7,3.9,1.4,"versicolor"

Versicolor is in "61",5,2,3.5,1,"versicolor"

Versicolor is in "62",5.9,3,4.2,1.5,"versicolor"

Versicolor is in "63",6,2.2,4,1,"versicolor"

Versicolor is in "64",6.1,2.9,4.7,1.4,"versicolor"

Versicolor is in "65",5.6,2.9,3.6,1.3,"versicolor"

Versicolor is in "66",6.7,3.1,4.4,1.4,"versicolor"

Versicolor is in "67",5.6,3,4.5,1.5,"versicolor"

Versicolor is in "68",5.8,2.7,4.1,1,"versicolor"

Versicolor is in "69",6.2,2.2,4.5,1.5,"versicolor"

Versicolor is in "70",5.6,2.5,3.9,1.1,"versicolor"

Versicolor is in "71",5.9,3.2,4.8,1.8,"versicolor"

Versicolor is in "72",6.1,2.8,4,1.3,"versicolor"

Versicolor is in "73",6.3,2.5,4.9,1.5,"versicolor"

Versicolor is in "74",6.1,2.8,4.7,1.2,"versicolor"

Versicolor is in "75",6.4,2.9,4.3,1.3,"versicolor"

Versicolor is in "76",6.6,3,4.4,1.4,"versicolor"

Versicolor is in "77",6.8,2.8,4.8,1.4,"versicolor"

Versicolor is in "78",6.7,3,5,1.7,"versicolor"

Versicolor is in "79",6,2.9,4.5,1.5,"versicolor"

Versicolor is in "80",5.7,2.6,3.5,1,"versicolor"

Versicolor is in "81",5.5,2.4,3.8,1.1,"versicolor"

Versicolor is in "82",5.5,2.4,3.7,1,"versicolor"

Versicolor is in "83",5.8,2.7,3.9,1.2,"versicolor"

Versicolor is in "84",6,2.7,5.1,1.6,"versicolor"

Versicolor is in "85",5.4,3,4.5,1.5,"versicolor"

Versicolor is in "86",6,3.4,4.5,1.6,"versicolor"

Versicolor is in "87",6.7,3.1,4.7,1.5,"versicolor"

Versicolor is in "88",6.3,2.3,4.4,1.3,"versicolor"

Versicolor is in "89",5.6,3,4.1,1.3,"versicolor"

Versicolor is in "90",5.5,2.5,4,1.3,"versicolor"

Versicolor is in "91",5.5,2.6,4.4,1.2,"versicolor"

Versicolor is in "92",6.1,3,4.6,1.4,"versicolor"

Versicolor is in "93",5.8,2.6,4,1.2,"versicolor"

Versicolor is in "94",5,2.3,3.3,1,"versicolor"

Versicolor is in "95",5.6,2.7,4.2,1.3,"versicolor"

Versicolor is in "96",5.7,3,4.2,1.2,"versicolor"

Versicolor is in "97",5.7,2.9,4.2,1.3,"versicolor"

Versicolor is in "98",6.2,2.9,4.3,1.3,"versicolor"

Versicolor is in "99",5.1,2.5,3,1.1,"versicolor"

Versicolor is in "100",5.7,2.8,4.1,1.3,"versicolor"

Virginica is in "101",6.3,3.3,6,2.5,"virginica"

Virginica is in "102",5.8,2.7,5.1,1.9,"virginica"

Virginica is in "103",7.1,3,5.9,2.1,"virginica"

Virginica is in "104",6.3,2.9,5.6,1.8,"virginica"

Virginica is in "105",6.5,3,5.8,2.2,"virginica"

Virginica is in "106",7.6,3,6.6,2.1,"virginica"

Virginica is in "107",4.9,2.5,4.5,1.7,"virginica"

Virginica is in "108",7.3,2.9,6.3,1.8,"virginica"

Virginica is in "109",6.7,2.5,5.8,1.8,"virginica"

Virginica is in "110",7.2,3.6,6.1,2.5,"virginica"

Virginica is in "111",6.5,3.2,5.1,2,"virginica"

Virginica is in "112",6.4,2.7,5.3,1.9,"virginica"

Virginica is in "113",6.8,3,5.5,2.1,"virginica"

Virginica is in "114",5.7,2.5,5,2,"virginica"

Virginica is in "115",5.8,2.8,5.1,2.4,"virginica"

Virginica is in "116",6.4,3.2,5.3,2.3,"virginica"

Virginica is in "117",6.5,3,5.5,1.8,"virginica"

Virginica is in "118",7.7,3.8,6.7,2.2,"virginica"

Virginica is in "119",7.7,2.6,6.9,2.3,"virginica"

Virginica is in "120",6,2.2,5,1.5,"virginica"

Virginica is in "121",6.9,3.2,5.7,2.3,"virginica"

Virginica is in "122",5.6,2.8,4.9,2,"virginica"

Virginica is in "123",7.7,2.8,6.7,2,"virginica"

Virginica is in "124",6.3,2.7,4.9,1.8,"virginica"

Virginica is in "125",6.7,3.3,5.7,2.1,"virginica"

Virginica is in "126",7.2,3.2,6,1.8,"virginica"

Virginica is in "127",6.2,2.8,4.8,1.8,"virginica"

Virginica is in "128",6.1,3,4.9,1.8,"virginica"

Virginica is in "129",6.4,2.8,5.6,2.1,"virginica"

Virginica is in "130",7.2,3,5.8,1.6,"virginica"

Virginica is in "131",7.4,2.8,6.1,1.9,"virginica"

Virginica is in "132",7.9,3.8,6.4,2,"virginica"

Virginica is in "133",6.4,2.8,5.6,2.2,"virginica"

Virginica is in "134",6.3,2.8,5.1,1.5,"virginica"

Virginica is in "135",6.1,2.6,5.6,1.4,"virginica"

Virginica is in "136",7.7,3,6.1,2.3,"virginica"

Virginica is in "137",6.3,3.4,5.6,2.4,"virginica"

Virginica is in "138",6.4,3.1,5.5,1.8,"virginica"

Virginica is in "139",6,3,4.8,1.8,"virginica"

Virginica is in "140",6.9,3.1,5.4,2.1,"virginica"

Virginica is in "141",6.7,3.1,5.6,2.4,"virginica"

Virginica is in "142",6.9,3.1,5.1,2.3,"virginica"

Virginica is in "143",5.8,2.7,5.1,1.9,"virginica"

Virginica is in "144",6.8,3.2,5.9,2.3,"virginica"

Virginica is in "145",6.7,3.3,5.7,2.5,"virginica"

Virginica is in "146",6.7,3,5.2,2.3,"virginica"

Virginica is in "147",6.3,2.5,5,1.9,"virginica"

Virginica is in "148",6.5,3,5.2,2,"virginica"

Virginica is in "149",6.2,3.4,5.4,2.3,"virginica"

Virginica is in "150",5.9,3,5.1,1.8,"virginica"

In [15]:
### close the connection of the files
setosa.close()
versicolor.close()
virginica.close()

Another way to read the content of a file is as follows:

In [19]:
with open('iris.csv','r') as f:
    data = f.read()
    
data

'"","sepal_length","sepal_width","petal_length","petal_width","species"\n"1",5.1,3.5,1.4,0.2,"setosa"\n"2",4.9,3,1.4,0.2,"setosa"\n"3",4.7,3.2,1.3,0.2,"setosa"\n"4",4.6,3.1,1.5,0.2,"setosa"\n"5",5,3.6,1.4,0.2,"setosa"\n"6",5.4,3.9,1.7,0.4,"setosa"\n"7",4.6,3.4,1.4,0.3,"setosa"\n"8",5,3.4,1.5,0.2,"setosa"\n"9",4.4,2.9,1.4,0.2,"setosa"\n"10",4.9,3.1,1.5,0.1,"setosa"\n"11",5.4,3.7,1.5,0.2,"setosa"\n"12",4.8,3.4,1.6,0.2,"setosa"\n"13",4.8,3,1.4,0.1,"setosa"\n"14",4.3,3,1.1,0.1,"setosa"\n"15",5.8,4,1.2,0.2,"setosa"\n"16",5.7,4.4,1.5,0.4,"setosa"\n"17",5.4,3.9,1.3,0.4,"setosa"\n"18",5.1,3.5,1.4,0.3,"setosa"\n"19",5.7,3.8,1.7,0.3,"setosa"\n"20",5.1,3.8,1.5,0.3,"setosa"\n"21",5.4,3.4,1.7,0.2,"setosa"\n"22",5.1,3.7,1.5,0.4,"setosa"\n"23",4.6,3.6,1,0.2,"setosa"\n"24",5.1,3.3,1.7,0.5,"setosa"\n"25",4.8,3.4,1.9,0.2,"setosa"\n"26",5,3,1.6,0.2,"setosa"\n"27",5,3.4,1.6,0.4,"setosa"\n"28",5.2,3.5,1.5,0.2,"setosa"\n"29",5.2,3.4,1.4,0.2,"setosa"\n"30",4.7,3.2,1.6,0.2,"setosa"\n"31",4.8,3.1,1.6,0.2,"setosa"\n"32",5.4,3.4,1.5,0.4,"setosa"\n"33",5.2,4.1,1.5,0.1,"setosa"\n"34",5.5,4.2,1.4,0.2,"setosa"\n"35",4.9,3.1,1.5,0.2,"setosa"\n"36",5,3.2,1.2,0.2,"setosa"\n"37",5.5,3.5,1.3,0.2,"setosa"\n"38",4.9,3.6,1.4,0.1,"setosa"\n"39",4.4,3,1.3,0.2,"setosa"\n"40",5.1,3.4,1.5,0.2,"setosa"\n"41",5,3.5,1.3,0.3,"setosa"\n"42",4.5,2.3,1.3,0.3,"setosa"\n"43",4.4,3.2,1.3,0.2,"setosa"\n"44",5,3.5,1.6,0.6,"setosa"\n"45",5.1,3.8,1.9,0.4,"setosa"\n"46",4.8,3,1.4,0.3,"setosa"\n"47",5.1,3.8,1.6,0.2,"setosa"\n"48",4.6,3.2,1.4,0.2,"setosa"\n"49",5.3,3.7,1.5,0.2,"setosa"\n"50",5,3.3,1.4,0.2,"setosa"\n"51",7,3.2,4.7,1.4,"versicolor"\n"52",6.4,3.2,4.5,1.5,"versicolor"\n"53",6.9,3.1,4.9,1.5,"versicolor"\n"54",5.5,2.3,4,1.3,"versicolor"\n"55",6.5,2.8,4.6,1.5,"versicolor"\n"56",5.7,2.8,4.5,1.3,"versicolor"\n"57",6.3,3.3,4.7,1.6,"versicolor"\n"58",4.9,2.4,3.3,1,"versicolor"\n"59",6.6,2.9,4.6,1.3,"versicolor"\n"60",5.2,2.7,3.9,1.4,"versicolor"\n"61",5,2,3.5,1,"versicolor"\n"62",5.9,3,4.2,1.5,"versicolor"\n"63",6,2.2,4,1,"versicolor"\n"64",6.1,2.9,4.7,1.4,"versicolor"\n"65",5.6,2.9,3.6,1.3,"versicolor"\n"66",6.7,3.1,4.4,1.4,"versicolor"\n"67",5.6,3,4.5,1.5,"versicolor"\n"68",5.8,2.7,4.1,1,"versicolor"\n"69",6.2,2.2,4.5,1.5,"versicolor"\n"70",5.6,2.5,3.9,1.1,"versicolor"\n"71",5.9,3.2,4.8,1.8,"versicolor"\n"72",6.1,2.8,4,1.3,"versicolor"\n"73",6.3,2.5,4.9,1.5,"versicolor"\n"74",6.1,2.8,4.7,1.2,"versicolor"\n"75",6.4,2.9,4.3,1.3,"versicolor"\n"76",6.6,3,4.4,1.4,"versicolor"\n"77",6.8,2.8,4.8,1.4,"versicolor"\n"78",6.7,3,5,1.7,"versicolor"\n"79",6,2.9,4.5,1.5,"versicolor"\n"80",5.7,2.6,3.5,1,"versicolor"\n"81",5.5,2.4,3.8,1.1,"versicolor"\n"82",5.5,2.4,3.7,1,"versicolor"\n"83",5.8,2.7,3.9,1.2,"versicolor"\n"84",6,2.7,5.1,1.6,"versicolor"\n"85",5.4,3,4.5,1.5,"versicolor"\n"86",6,3.4,4.5,1.6,"versicolor"\n"87",6.7,3.1,4.7,1.5,"versicolor"\n"88",6.3,2.3,4.4,1.3,"versicolor"\n"89",5.6,3,4.1,1.3,"versicolor"\n"90",5.5,2.5,4,1.3,"versicolor"\n"91",5.5,2.6,4.4,1.2,"versicolor"\n"92",6.1,3,4.6,1.4,"versicolor"\n"93",5.8,2.6,4,1.2,"versicolor"\n"94",5,2.3,3.3,1,"versicolor"\n"95",5.6,2.7,4.2,1.3,"versicolor"\n"96",5.7,3,4.2,1.2,"versicolor"\n"97",5.7,2.9,4.2,1.3,"versicolor"\n"98",6.2,2.9,4.3,1.3,"versicolor"\n"99",5.1,2.5,3,1.1,"versicolor"\n"100",5.7,2.8,4.1,1.3,"versicolor"\n"101",6.3,3.3,6,2.5,"virginica"\n"102",5.8,2.7,5.1,1.9,"virginica"\n"103",7.1,3,5.9,2.1,"virginica"\n"104",6.3,2.9,5.6,1.8,"virginica"\n"105",6.5,3,5.8,2.2,"virginica"\n"106",7.6,3,6.6,2.1,"virginica"\n"107",4.9,2.5,4.5,1.7,"virginica"\n"108",7.3,2.9,6.3,1.8,"virginica"\n"109",6.7,2.5,5.8,1.8,"virginica"\n"110",7.2,3.6,6.1,2.5,"virginica"\n"111",6.5,3.2,5.1,2,"virginica"\n"112",6.4,2.7,5.3,1.9,"virginica"\n"113",6.8,3,5.5,2.1,"virginica"\n"114",5.7,2.5,5,2,"virginica"\n"115",5.8,2.8,5.1,2.4,"virginica"\n"116",6.4,3.2,5.3,2.3,"virginica"\n"117",6.5,3,5.5,1.8,"virginica"\n"118",7.7,3.8,6.7,2.2,"virginica"\n"119",7.7,2.6,6.9,2.3,"virginica"\n"120",6,2.2,5,1.5,"virginica"\n"121",6.9,3.2,5.7,2.3,"virginica"\n"122",5.6,2.8,4.9,2,"virginica"\n"123",7.7,2.8,6.7,2,"virginica"\n"124",6.3,2.7,4.9,1.8,"virginica"\n"125",6.7,3.3,5.7,2.1,"virginica"\n"126",7.2,3.2,6,1.8,"virginica"\n"127",6.2,2.8,4.8,1.8,"virginica"\n"128",6.1,3,4.9,1.8,"virginica"\n"129",6.4,2.8,5.6,2.1,"virginica"\n"130",7.2,3,5.8,1.6,"virginica"\n"131",7.4,2.8,6.1,1.9,"virginica"\n"132",7.9,3.8,6.4,2,"virginica"\n"133",6.4,2.8,5.6,2.2,"virginica"\n"134",6.3,2.8,5.1,1.5,"virginica"\n"135",6.1,2.6,5.6,1.4,"virginica"\n"136",7.7,3,6.1,2.3,"virginica"\n"137",6.3,3.4,5.6,2.4,"virginica"\n"138",6.4,3.1,5.5,1.8,"virginica"\n"139",6,3,4.8,1.8,"virginica"\n"140",6.9,3.1,5.4,2.1,"virginica"\n"141",6.7,3.1,5.6,2.4,"virginica"\n"142",6.9,3.1,5.1,2.3,"virginica"\n"143",5.8,2.7,5.1,1.9,"virginica"\n"144",6.8,3.2,5.9,2.3,"virginica"\n"145",6.7,3.3,5.7,2.5,"virginica"\n"146",6.7,3,5.2,2.3,"virginica"\n"147",6.3,2.5,5,1.9,"virginica"\n"148",6.5,3,5.2,2,"virginica"\n"149",6.2,3.4,5.4,2.3,"virginica"\n"150",5.9,3,5.1,1.8,"virginica"\n'

In [30]:
data.split('\n')

['"","sepal_length","sepal_width","petal_length","petal_width","species"',
 '"1",5.1,3.5,1.4,0.2,"setosa"',
 '"2",4.9,3,1.4,0.2,"setosa"',
 '"3",4.7,3.2,1.3,0.2,"setosa"',
 '"4",4.6,3.1,1.5,0.2,"setosa"',
 '"5",5,3.6,1.4,0.2,"setosa"',
 '"6",5.4,3.9,1.7,0.4,"setosa"',
 '"7",4.6,3.4,1.4,0.3,"setosa"',
 '"8",5,3.4,1.5,0.2,"setosa"',
 '"9",4.4,2.9,1.4,0.2,"setosa"',
 '"10",4.9,3.1,1.5,0.1,"setosa"',
 '"11",5.4,3.7,1.5,0.2,"setosa"',
 '"12",4.8,3.4,1.6,0.2,"setosa"',
 '"13",4.8,3,1.4,0.1,"setosa"',
 '"14",4.3,3,1.1,0.1,"setosa"',
 '"15",5.8,4,1.2,0.2,"setosa"',
 '"16",5.7,4.4,1.5,0.4,"setosa"',
 '"17",5.4,3.9,1.3,0.4,"setosa"',
 '"18",5.1,3.5,1.4,0.3,"setosa"',
 '"19",5.7,3.8,1.7,0.3,"setosa"',
 '"20",5.1,3.8,1.5,0.3,"setosa"',
 '"21",5.4,3.4,1.7,0.2,"setosa"',
 '"22",5.1,3.7,1.5,0.4,"setosa"',
 '"23",4.6,3.6,1,0.2,"setosa"',
 '"24",5.1,3.3,1.7,0.5,"setosa"',
 '"25",4.8,3.4,1.9,0.2,"setosa"',
 '"26",5,3,1.6,0.2,"setosa"',
 '"27",5,3.4,1.6,0.4,"setosa"',
 '"28",5.2,3.5,1.5,0.2,"setosa"',
 '"29",5.2,3.4,1.4,0.2,"setosa"',
 '"30",4.7,3.2,1.6,0.2,"setosa"',
 '"31",4.8,3.1,1.6,0.2,"setosa"',
 '"32",5.4,3.4,1.5,0.4,"setosa"',
 '"33",5.2,4.1,1.5,0.1,"setosa"',
 '"34",5.5,4.2,1.4,0.2,"setosa"',
 '"35",4.9,3.1,1.5,0.2,"setosa"',
 '"36",5,3.2,1.2,0.2,"setosa"',
 '"37",5.5,3.5,1.3,0.2,"setosa"',
 '"38",4.9,3.6,1.4,0.1,"setosa"',
 '"39",4.4,3,1.3,0.2,"setosa"',
 '"40",5.1,3.4,1.5,0.2,"setosa"',
 '"41",5,3.5,1.3,0.3,"setosa"',
 '"42",4.5,2.3,1.3,0.3,"setosa"',
 '"43",4.4,3.2,1.3,0.2,"setosa"',
 '"44",5,3.5,1.6,0.6,"setosa"',
 '"45",5.1,3.8,1.9,0.4,"setosa"',
 '"46",4.8,3,1.4,0.3,"setosa"',
 '"47",5.1,3.8,1.6,0.2,"setosa"',
 '"48",4.6,3.2,1.4,0.2,"setosa"',
 '"49",5.3,3.7,1.5,0.2,"setosa"',
 '"50",5,3.3,1.4,0.2,"setosa"',
 '"51",7,3.2,4.7,1.4,"versicolor"',
 '"52",6.4,3.2,4.5,1.5,"versicolor"',
 '"53",6.9,3.1,4.9,1.5,"versicolor"',
 '"54",5.5,2.3,4,1.3,"versicolor"',
 '"55",6.5,2.8,4.6,1.5,"versicolor"',
 '"56",5.7,2.8,4.5,1.3,"versicolor"',
 '"57",6.3,3.3,4.7,1.6,"versicolor"',
 '"58",4.9,2.4,3.3,1,"versicolor"',
 '"59",6.6,2.9,4.6,1.3,"versicolor"',
 '"60",5.2,2.7,3.9,1.4,"versicolor"',
 '"61",5,2,3.5,1,"versicolor"',
 '"62",5.9,3,4.2,1.5,"versicolor"',
 '"63",6,2.2,4,1,"versicolor"',
 '"64",6.1,2.9,4.7,1.4,"versicolor"',
 '"65",5.6,2.9,3.6,1.3,"versicolor"',
 '"66",6.7,3.1,4.4,1.4,"versicolor"',
 '"67",5.6,3,4.5,1.5,"versicolor"',
 '"68",5.8,2.7,4.1,1,"versicolor"',
 '"69",6.2,2.2,4.5,1.5,"versicolor"',
 '"70",5.6,2.5,3.9,1.1,"versicolor"',
 '"71",5.9,3.2,4.8,1.8,"versicolor"',
 '"72",6.1,2.8,4,1.3,"versicolor"',
 '"73",6.3,2.5,4.9,1.5,"versicolor"',
 '"74",6.1,2.8,4.7,1.2,"versicolor"',
 '"75",6.4,2.9,4.3,1.3,"versicolor"',
 '"76",6.6,3,4.4,1.4,"versicolor"',
 '"77",6.8,2.8,4.8,1.4,"versicolor"',
 '"78",6.7,3,5,1.7,"versicolor"',
 '"79",6,2.9,4.5,1.5,"versicolor"',
 '"80",5.7,2.6,3.5,1,"versicolor"',
 '"81",5.5,2.4,3.8,1.1,"versicolor"',
 '"82",5.5,2.4,3.7,1,"versicolor"',
 '"83",5.8,2.7,3.9,1.2,"versicolor"',
 '"84",6,2.7,5.1,1.6,"versicolor"',
 '"85",5.4,3,4.5,1.5,"versicolor"',
 '"86",6,3.4,4.5,1.6,"versicolor"',
 '"87",6.7,3.1,4.7,1.5,"versicolor"',
 '"88",6.3,2.3,4.4,1.3,"versicolor"',
 '"89",5.6,3,4.1,1.3,"versicolor"',
 '"90",5.5,2.5,4,1.3,"versicolor"',
 '"91",5.5,2.6,4.4,1.2,"versicolor"',
 '"92",6.1,3,4.6,1.4,"versicolor"',
 '"93",5.8,2.6,4,1.2,"versicolor"',
 '"94",5,2.3,3.3,1,"versicolor"',
 '"95",5.6,2.7,4.2,1.3,"versicolor"',
 '"96",5.7,3,4.2,1.2,"versicolor"',
 '"97",5.7,2.9,4.2,1.3,"versicolor"',
 '"98",6.2,2.9,4.3,1.3,"versicolor"',
 '"99",5.1,2.5,3,1.1,"versicolor"',
 '"100",5.7,2.8,4.1,1.3,"versicolor"',
 '"101",6.3,3.3,6,2.5,"virginica"',
 '"102",5.8,2.7,5.1,1.9,"virginica"',
 '"103",7.1,3,5.9,2.1,"virginica"',
 '"104",6.3,2.9,5.6,1.8,"virginica"',
 '"105",6.5,3,5.8,2.2,"virginica"',
 '"106",7.6,3,6.6,2.1,"virginica"',
 '"107",4.9,2.5,4.5,1.7,"virginica"',
 '"108",7.3,2.9,6.3,1.8,"virginica"',
 '"109",6.7,2.5,5.8,1.8,"virginica"',
 '"110",7.2,3.6,6.1,2.5,"virginica"',
 '"111",6.5,3.2,5.1,2,"virginica"',
 '"112",6.4,2.7,5.3,1.9,"virginica"',
 '"113",6.8,3,5.5,2.1,"virginica"',
 '"114",5.7,2.5,5,2,"virginica"',
 '"115",5.8,2.8,5.1,2.4,"virginica"',
 '"116",6.4,3.2,5.3,2.3,"virginica"',
 '"117",6.5,3,5.5,1.8,"virginica"',
 '"118",7.7,3.8,6.7,2.2,"virginica"',
 '"119",7.7,2.6,6.9,2.3,"virginica"',
 '"120",6,2.2,5,1.5,"virginica"',
 '"121",6.9,3.2,5.7,2.3,"virginica"',
 '"122",5.6,2.8,4.9,2,"virginica"',
 '"123",7.7,2.8,6.7,2,"virginica"',
 '"124",6.3,2.7,4.9,1.8,"virginica"',
 '"125",6.7,3.3,5.7,2.1,"virginica"',
 '"126",7.2,3.2,6,1.8,"virginica"',
 '"127",6.2,2.8,4.8,1.8,"virginica"',
 '"128",6.1,3,4.9,1.8,"virginica"',
 '"129",6.4,2.8,5.6,2.1,"virginica"',
 '"130",7.2,3,5.8,1.6,"virginica"',
 '"131",7.4,2.8,6.1,1.9,"virginica"',
 '"132",7.9,3.8,6.4,2,"virginica"',
 '"133",6.4,2.8,5.6,2.2,"virginica"',
 '"134",6.3,2.8,5.1,1.5,"virginica"',
 '"135",6.1,2.6,5.6,1.4,"virginica"',
 '"136",7.7,3,6.1,2.3,"virginica"',
 '"137",6.3,3.4,5.6,2.4,"virginica"',
 '"138",6.4,3.1,5.5,1.8,"virginica"',
 '"139",6,3,4.8,1.8,"virginica"',
 '"140",6.9,3.1,5.4,2.1,"virginica"',
 '"141",6.7,3.1,5.6,2.4,"virginica"',
 '"142",6.9,3.1,5.1,2.3,"virginica"',
 '"143",5.8,2.7,5.1,1.9,"virginica"',
 '"144",6.8,3.2,5.9,2.3,"virginica"',
 '"145",6.7,3.3,5.7,2.5,"virginica"',
 '"146",6.7,3,5.2,2.3,"virginica"',
 '"147",6.3,2.5,5,1.9,"virginica"',
 '"148",6.5,3,5.2,2,"virginica"',
 '"149",6.2,3.4,5.4,2.3,"virginica"',
 '"150",5.9,3,5.1,1.8,"virginica"',
 '']

# DataBase connections

## ODBC

In [23]:
import pyodbc 
#Windows
#cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
#                      "Server=<<your name e.g.WIN10\TCDS>>;"
#                      "Database=COLLEGE;"
#                      "Trusted_Connection=yes;")


cnxn = pyodbc.connect("Driver={ODBC Driver 17 for SQL Server};"
                      "uid=dsuser08;"
                      "pwd=DSuser08!;"
                      "Server=192.168.1.1;"
                      "Database=COLLEGE;")

In [2]:
cursor = cnxn.cursor()
cursor.execute('SELECT * FROM Departments')

for row in cursor:
    print('row = %r' % (row,))

row = (1, 'English')
row = (2, 'Science')
row = (3, 'Arts')
row = (4, 'Sport')

In [3]:
# get the list one by one
cursor.execute("SELECT * FROM Teachers;") 
row = cursor.fetchone() 
while row: 
    print(row )
    row = cursor.fetchone()

(1, 'Kaylea', 'Monzingo', 'F')
(2, 'Amanda', 'Dworkin', 'F')
(3, 'Jordyn', 'Baron', 'F')
(4, 'Katherine', 'Dibari', 'F')
(5, 'Heather', 'Metcalf', 'F')
(6, 'Madison', 'Batan', 'F')
(7, 'Cortnee', 'Kinderknecht', 'F')
(8, 'Caroline', 'Knuesel', 'F')
(9, 'Katerina', 'Young', 'F')
(10, 'Mackenzie', 'Olsen', 'F')
(11, 'Kaitlin', 'Delude', 'F')
(12, 'Mikayla', 'Russell', 'F')
(13, 'Alexander', 'Watts', 'M')
(14, 'Jeffrey', 'Batzel', 'M')
(15, 'Conor', 'Mckittrick', 'M')
(16, 'Robert', 'Aivazian', 'M')
(17, 'Tanner', 'Fitzsimons', 'M')
(18, 'Daniel', 'Bland', 'M')
(19, 'Terran', 'Beaty', 'M')
(20, 'Zachary', 'Healy', 'M')
(21, 'Ernest', 'Stoyanov', 'M')
(22, 'Darick', 'Hess', 'M')
(23, 'Maxwell', 'Romkee', 'M')
(24, 'Keegan', 'Price', 'M')

In [4]:
### get the first 5 records
cursor.execute("SELECT * FROM Courses;") 
row = cursor.fetchmany(5) 
print(row)

[(1, 'English Begginers', 1, 15), (2, 'Advanced English', 1, 15), (3, 'Proffesional English', 1, 15), (4, 'Mathematics 101', 2, 2), (5, 'Matematics Advanced', 2, 13)]

In [5]:
### get all records
cursor.execute("SELECT * FROM Courses;") 
row = cursor.fetchall() 

print(row)

[(1, 'English Begginers', 1, 15), (2, 'Advanced English', 1, 15), (3, 'Proffesional English', 1, 15), (4, 'Mathematics 101', 2, 2), (5, 'Matematics Advanced', 2, 13), (6, 'Algebra', 2, 13), (7, 'Geometry', 2, 13), (8, 'Chemistry', 2, 14), (9, 'Physics', 2, 13), (10, 'Biology', 2, 3), (11, 'Genetics', 2, 19), (12, 'Neurobiology', 2, 19), (13, 'Statistics', 2, 5), (14, 'Computer Science', 2, 1), (15, 'Data Science', 2, 10), (16, 'SQL', 2, 20), (17, 'Python', 2, 19), (18, 'R', 2, 17), (19, 'Java', 2, 22), (20, 'History of Arts', 3, 8), (21, 'Painting', 3, 9), (22, 'Sculpture', 3, 16), (23, 'Musicology', 3, 6), (24, 'Theater', 3, 21), (25, 'Literature', 3, 18), (26, 'Basketball', 4, 4), (27, 'Volleyball', 4, 11), (28, 'Football', 4, 7), (29, 'Tenis', 4, 24), (30, 'Swimming', 4, 12), (31, 'Gymnastics', 4, 23)]

#### Pass a SQL Table to a Pandas DataFrame

In [12]:
import pandas as pd
import pyodbc 

cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                      "Server=WIN10\TCDS;"
                      "Database=COLLEGE;"
                      "Trusted_Connection=yes;")

df = pd.read_sql("SELECT * FROM Courses",cnxn)
df.head()

   CourseId            CourseName  DepartmentID  TeacherId
0         1     English Begginers             1         15
1         2      Advanced English             1         15
2         3  Proffesional English             1         15
3         4       Mathematics 101             2          2
4         5   Matematics Advanced             2         13

## SQLite3

In [47]:
import sqlite3
conn = sqlite3.connect("tcds_example.db")
c = conn.cursor()

In [37]:
c.execute('''CREATE TABLE Proglangs (
             LangId INT,
             LangName VARCHAR(50),
             IsObjectOriented INT);''')

In [38]:
c.execute("INSERT INTO Proglangs VALUES (1,'Perl',1);")
c.execute("INSERT INTO Proglangs VALUES (2,'C',0);")
c.execute("INSERT INTO Proglangs VALUES (3,'Basic',0);")
c.execute("INSERT INTO Proglangs VALUES (4,'C++',1);")
c.execute("INSERT INTO Proglangs VALUES (5,'Java',1);")
c.execute("INSERT INTO Proglangs VALUES (6,'Python',1);")
c.execute("INSERT INTO Proglangs VALUES (7,'Rubi',1);")
c.execute("INSERT INTO Proglangs VALUES (8,'Pascal',0);")
c.execute("INSERT INTO Proglangs VALUES (9,'Fortrant',0);")
c.execute("INSERT INTO Proglangs VALUES (10,'Scheme',0);")
c.execute("INSERT INTO Proglangs VALUES (11,'Haskell',0);")
c.execute("INSERT INTO Proglangs VALUES (12,'PHP',1);")

In [39]:
c.execute("SELECT * FROM Proglangs")

In [40]:
### get the first row
print(c.fetchone())

(1, 'Perl', 1)

In [41]:
### get the next row
print(c.fetchone())

(2, 'C', 0)

In [42]:
### get the next row
print(c.fetchone())

(3, 'Basic', 0)

In [43]:
## get all the data in the table beginind from the cursor (cursor is now on the fourth row!)
print(c.fetchall())

[(4, 'C++', 1), (5, 'Java', 1), (6, 'Python', 1), (7, 'Rubi', 1), (8, 'Pascal', 0), (9, 'Fortrant', 0), (10, 'Scheme', 0), (11, 'Haskell', 0), (12, 'PHP', 1)]

In [44]:
### print the rows obtined from a specific query
for row in c.execute("SELECT * FROM Proglangs WHERE IsObjectOriented = 1"):
    print(row)

(1, 'Perl', 1)
(4, 'C++', 1)
(5, 'Java', 1)
(6, 'Python', 1)
(7, 'Rubi', 1)
(12, 'PHP', 1)

# Regular Expressions in Python
 


<img src="https://i.pinimg.com/originals/19/44/b1/1944b14175b0136b578287c0169a5c69.png" width='318' height='450' style='float: left;'></img>

In [62]:
import re

In [63]:
str = '''
Name: Mr. Peter Johns
eMail: peter@gmail.com
Phone: (54)-333-25-22

Name: Mrs. Mary Green
eMail: mary@yahoo.com
Phone: (50)-231-00-19

Name: Mr. George Brown
eMail: gbrn@bbb.com
Phone: (49)-882-55-51
'''

In [64]:
#str='abc@example.com'
match=re.search(r'\w+@\w+.\w+',str) #return abc@example.com

match

In [65]:
#num='555-555-5555'
match_num=re.search(r'(\W\d{2}\W.\d{3}.\d{2}.\d{2})',str) 
match_num

In [66]:
### Print eMails
pattern = re.compile(r'\w+@\w+.\w+')
matches = pattern.finditer(str)

matches

for match in matches:
    print(match)

<_sre.SRE_Match object; span=(30, 45), match='peter@gmail.com'>
<_sre.SRE_Match object; span=(98, 112), match='mary@yahoo.com'>
<_sre.SRE_Match object; span=(166, 178), match='gbrn@bbb.com'>

In [67]:
### Print phone numbers
pattern = re.compile(r'(\W\d{2}\W.\d{3}.\d{2}.\d{2})')
matches = pattern.finditer(str)

for match in matches:
    print(match)

<_sre.SRE_Match object; span=(53, 67), match='(54)-333-25-22'>
<_sre.SRE_Match object; span=(120, 134), match='(50)-231-00-19'>
<_sre.SRE_Match object; span=(186, 200), match='(49)-882-55-51'>

In [68]:
### Print the names of the males (Mr.) in the list
### The ? sign indicates that the point is optional
pattern = re.compile(r'Mr\.?\s[A-Z]\w*\s[A-Z]\w*')
matches = pattern.finditer(str)

for match in matches:
    print(match)

<_sre.SRE_Match object; span=(7, 22), match='Mr. Peter Johns'>
<_sre.SRE_Match object; span=(142, 158), match='Mr. George Brown'>

In [69]:
### Print the names of the males (Mr.) in the list
### Print phone numbers
pattern = re.compile(r'(Mr|Mrs)\.?\s[A-Z]\w*\s[A-Z]\w*')
matches = pattern.finditer(str)

for match in matches:
    print(match)

<_sre.SRE_Match object; span=(7, 22), match='Mr. Peter Johns'>
<_sre.SRE_Match object; span=(75, 90), match='Mrs. Mary Green'>
<_sre.SRE_Match object; span=(142, 158), match='Mr. George Brown'>

In [70]:
urls = '''
http://www.mysite.com
https://google.com/search?q=regular+expression+in+python
https://mail.google.com/
http://rstudio.somesite.org:8787/
http://yahoo.com
'''

In [71]:
pattern = re.compile(r'https?://(\w+.)?\w+.(com|org)')
matches = pattern.finditer(urls)

for match in matches:
    print(match)

<_sre.SRE_Match object; span=(1, 22), match='http://www.mysite.com'>
<_sre.SRE_Match object; span=(23, 41), match='https://google.com'>
<_sre.SRE_Match object; span=(80, 103), match='https://mail.google.com'>
<_sre.SRE_Match object; span=(105, 132), match='http://rstudio.somesite.org'>
<_sre.SRE_Match object; span=(139, 155), match='http://yahoo.com'>

# Virtual environments (pipenv)
#### Why virtual environments
#### How to create a virtual environment
#### Using and sharing VE

<a href="https://dev.to/rosejcday/do-you-use-docker-or-virtualenv-for-python---3de4"> virtenv/pipenv </a>

#### Packrat (R)

---
 

http://www.markbetz.net/2014/01/17/python-if-you-have-docker-do-you-need-virtualenv/

# Containers (Docker)
#### What is a virtual container?
#### Differences between VE and containers
#### How to generate a virutual container
#### How to enter a container
#### Sharing containers

Ubuntu docker image: 
https://github.com/tianon/docker-brew-ubuntu-core/tree/59aa7dfef17153ecc812adbf26516675ce67e8aa/bionic

https://hub.docker.com/explore/

---
# More resources on Dockers

Using Linux dev environment inside Windows10 (no virtual machine needed!)
https://nickjanetakis.com/blog/using-wsl-and-mobaxterm-to-create-a-linux-dev-environment-on-windows

Dockers for data science
https://www.analyticsvidhya.com/blog/2017/11/reproducible-data-science-docker-for-data-science/

https://github.com/sachinruk/deepschool.io/

https://www.kdnuggets.com/2018/01/docker-data-science.html