# Python Intro - Final Exercise

In [6]:
import pyodbc
import pandas as pd
import numpy as np
print('ok')

ok

In [7]:
### In windows, Using a ODBC DNS (predefined connection name)
conn = pyodbc.connect('DSN=COLLEGE;Trusted_Connection=yes;')

In [28]:
### Get the students table
students = pd.read_sql("SELECT * FROM Students;",conn) 
classrooms = pd.read_sql("SELECT * FROM Classrooms;",conn) 
courses = pd.read_sql("SELECT * FROM Courses;",conn) 
departments = pd.read_sql("SELECT * FROM Departments;",conn) 
teachers = pd.read_sql("SELECT * FROM Teachers;",conn)

# Questions
 
 
## Q1. Count the number of students on each department

In [26]:
print('\nNumber of students : %d' % students.shape[0])

Number of students : 280

## Q2. How many students have each course of the English department and the total number of students in the department?

In [63]:
courses['DepartmentId'] = courses.DepartmentID

data = pd.merge(pd.merge(pd.merge(pd.merge(classrooms, courses, on='CourseId'), 
                                    departments, on='DepartmentId'), 
                           students, on='StudentId'), 
                  teachers, on='TeacherId')

data.rename(columns = {'FirstName_x':'StudentFirstName', 
                         'LastName_x': 'StudentLastName',
                        'Gender_x' : 'StudentGender',
                        'FirstName_y':'TeacherFirstName',
                        'LastName_y':'TeaccherLastName',
                        'Gender_y':'TeacherGender'})

#total student in each department
res = data[['DepartmentName', 'StudentId']].drop_duplicates().groupby('DepartmentName').agg({'StudentId':['count']})

#in english dep
#print("", res['English'])

pandas.core.frame.DataFrame

## Q3. How many small (<22 students) and large (22+ students) classrooms are needed for the Science department?

## Q4. A feminist student claims that there are more male than female in the College. Justify if the argument is correct

## Q5. For which courses the percentage of male/female students is over 70%?

## Q6. For each department, how many students passed with a grades over 80?

## Q7. For each department, how many students passed with a grades under 60?

## Q8. Rate the teachers by their average student's grades (in descending order).

## Q9. Create a dataframe showing the courses, departments they are associated with, the teacher in each course, and the number of students enrolled in the course (for each course, department and teacher show the names).

## Q10. Create a dataframe showing the students, the number of courses they take, the average of the grades per class, and their overall average (for each student show the student name).