# Python Intro - Final Exercise

In [2]:
import pyodbc
import pandas as pd
import numpy as np
print('ok')

ok

In [3]:
### In windows, Using a ODBC DNS (predefined connection name)
conn = pyodbc.connect('DSN=COLLEGE;Trusted_Connection=yes;')

In [4]:
### Get the students table
students = pd.read_sql("SELECT * FROM Students;",conn) 
classrooms = pd.read_sql("SELECT * FROM Classrooms;",conn) 
courses = pd.read_sql("SELECT * FROM Courses;",conn) 
departments = pd.read_sql("SELECT * FROM Departments;",conn) 
teachers = pd.read_sql("SELECT * FROM Teachers;",conn) 

#add another column for join with department table
courses['DepartmentId'] = courses.DepartmentID

data = pd.merge(pd.merge(pd.merge(pd.merge(classrooms, courses, on='CourseId'), 
                                    departments, on='DepartmentId'), 
                           students, on='StudentId'), 
                  teachers, on='TeacherId')

data = data.rename(columns = {'FirstName_x':'StudentFirstName', 
                         'LastName_x': 'StudentLastName',
                        'Gender_x' : 'StudentGender',
                        'FirstName_y':'TeacherFirstName',
                        'LastName_y':'TeaccherLastName',
                        'Gender_y':'TeacherGender'})

# Questions
 
 
## Q1. Count the number of students on each department

In [147]:
print('\nNumber of students : %d' % students.shape[0])

Number of students : 280

## Q2. How many students have each course of the English department and the total number of students in the department?

In [6]:
#total student in each department
res = data[['DepartmentName', 'StudentId']].drop_duplicates().groupby('DepartmentName').agg({'StudentId':['count']})

print("Number of students in all departments is\n", res)

#in english department
res1 = data[['DepartmentName', 'StudentId']].drop_duplicates();
print("Number of students in Engllish depsrtment is", res1[res1.DepartmentName == 'English'].shape[0])


data['CourseNum'] = 0

tt = data[data.DepartmentName == 'English'].groupby('StudentId')['CourseNum'].agg('count')

print ("Number of student that took all the 3 english classes is:", tt[tt==3].shape[0])

Number of students in all departments is
                StudentId
                   count
DepartmentName
Arts                 137
English               84
Science              200
Sport                 81
Number of students in Engllish depsrtment is 84
Number of student that took all the 3 english classes is: 0

## Q3. How many small (<22 students) and large (22+ students) classrooms are needed for the Science department?

In [7]:
data['Res'] = -1 
science_classes = data[data.DepartmentName == 'Science'].groupby('CourseId').Res.agg('count')

print("Number of small classrooms needed for Science Department courses is: ",science_classes[science_classes < 22].shape[0])

print("Number of large classrooms needed for Science Department courses is: ",science_classes[science_classes >= 22].shape[0])

Number of small classrooms needed for Science Department courses is:  6
Number of large classrooms needed for Science Department courses is:  10

## Q4. A feminist student claims that there are more male than female in the College. Justify if the argument is correct

In [8]:
data[['StudentId', 'StudentGender']].drop_duplicates().groupby('StudentGender').agg('count')

               StudentId
StudentGender
F                    153
M                    103

## Q5. For which courses the percentage of male/female students is over 70%?

In [9]:
data.head()

data['Female'] = 0
data['Male'] = 0


data.loc[data.StudentGender == 'F','Female'] = 1
data.loc[data.StudentGender == 'M','Male'] = 1

df = data.groupby('CourseName').agg({'Female':['mean']})
if (df[df > 0.7].dropna().shape[0] > 0 ):
    print("Courses with females more than 70%: \n", df[df > 0.7].dropna())

df = data.groupby('CourseName').agg({'Male':['mean']})
if (df[df > 0.7].dropna().shape[0] > 0 ):
    print("Courses with males more than 70%: \n", df[df > 0.7].dropna())

Courses with females more than 70%:
               Female
                mean
CourseName
Sculpture   0.708333
Tenis       0.722222

## Q6. For each department, how many students passed with a grades over 80?

In [10]:
data.head()

df = data[['DepartmentName', 'StudentId', 'degree']]

df = df[df['degree'] > 80].drop_duplicates()

print("For each department number of students passed with a grade over 80\n", df.groupby('DepartmentName')['StudentId'].agg('count'))

For each department number of students passed with a grade over 80
 DepartmentName
Arts        68
English     43
Science    171
Sport       41
Name: StudentId, dtype: int64

## Q7. For each department, how many students passed with a grades under 60?

In [11]:
data.head()

df = data[['DepartmentName', 'StudentId', 'degree']]

df = df[df['degree'] < 60].drop_duplicates()

print("For each department number of students passed with a grade under 60\n", df.groupby('DepartmentName')['StudentId'].agg('count'))

For each department number of students passed with a grade under 60
 DepartmentName
Arts       3
English    2
Science    7
Sport      1
Name: StudentId, dtype: int64

## Q8. Rate the teachers by their average student's grades (in descending order).

In [12]:
data.head()

print(data.groupby(['TeacherFirstName','TeaccherLastName','TeacherId'])['degree'].agg('mean').sort_values(ascending=False))

TeacherFirstName  TeaccherLastName  TeacherId
 Darick           Hess              22.0         81.432703
 Jordyn           Baron             3.0          80.729494
 Heather          Metcalf           5.0          80.440242
 Zachary          Healy             20.0         79.365867
 Kaylea           Monzingo          1.0          79.365537
 Daniel           Bland             18.0         78.908281
 Keegan           Price             24.0         78.814631
 Conor            Mckittrick        15.0         78.699492
 Maxwell          Romkee            23.0         78.673509
 Terran           Beaty             19.0         78.495479
 Tanner           Fitzsimons        17.0         78.443395
 Mackenzie        Olsen             10.0         78.383348
 Ernest           Stoyanov          21.0         78.316150
 Madison          Batan             6.0          77.743575
 Katerina         Young             9.0          77.406852
 Mikayla          Russell           12.0         77.134323
 Amanda           Dworkin           2.0          76.899881
 Kaitlin          Delude            11.0         76.765296
 Jeffrey          Batzel            14.0         76.737973
 Robert           Aivazian          16.0         76.516464
 Caroline         Knuesel           8.0          75.955453
 Alexander        Watts             13.0         75.668139
Name: degree, dtype: float64

## Q9. Create a dataframe showing the courses, departments they are associated with, the teacher in each course, and the number of students enrolled in the course (for each course, department and teacher show the names).

In [18]:
print(data.groupby(['CourseName','DepartmentName','TeacherFirstName','TeaccherLastName'])['StudentId'].agg('count'))

CourseName            DepartmentName  TeacherFirstName  TeaccherLastName
Advanced English      English          Conor            Mckittrick          24
Algebra               Science          Alexander        Watts               12
Biology               Science          Jordyn           Baron               36
Chemistry             Science          Jeffrey          Batzel              24
Computer Science      Science          Kaylea           Monzingo            38
Data Science          Science          Mackenzie        Olsen               30
English Begginers     English          Conor            Mckittrick          32
Genetics              Science          Terran           Beaty               38
Geometry              Science          Alexander        Watts               14
Gymnastics            Sport            Maxwell          Romkee              24
History of Arts       Arts             Caroline         Knuesel             32
Java                  Science          Darick           Hess                16
Literature            Arts             Daniel           Bland               40
Matematics Advanced   Science          Alexander        Watts               10
Mathematics 101       Science          Amanda           Dworkin             18
Musicology            Arts             Madison          Batan               30
Neurobiology          Science          Terran           Beaty               24
Painting              Arts             Katerina         Young               34
Physics               Science          Alexander        Watts               12
Proffesional English  English          Conor            Mckittrick          38
Python                Science          Terran           Beaty               24
R                     Science          Tanner           Fitzsimons          34
SQL                   Science          Zachary          Healy               24
Sculpture             Arts             Robert           Aivazian            24
Statistics            Science          Heather          Metcalf             24
Swimming              Sport            Mikayla          Russell             18
Tenis                 Sport            Keegan           Price               18
Theater               Arts             Ernest           Stoyanov            26
Volleyball            Sport            Kaitlin          Delude              36
Name: StudentId, dtype: int64

## Q10. Create a dataframe showing the students, the number of courses they take, the average of the grades per department, and their overall average (for each student show the student name).

In [62]:
data.head()
data[data.StudentId == 202]

data['StudentTotalAvg']=0

avg=data.groupby(['StudentId'])['degree'].agg('mean').reset_index()

avg.columns = ['StudentId', 'StudentAverage']

students = data.groupby(['StudentId', 'StudentFirstName','StudentLastName', 'DepartmentName'])['degree'].agg(['count', 'mean']).reset_index()

df = pd.merge(avg, students, on='StudentId')

df = df.rename(columns = {'count':'NumberOfCourses','mean':'DepartemtAverage'}) 

df

,StudentId,StudentAverage,StudentFirstName,StudentLastName,DepartmentName,NumberOfCourses,DepartemtAverage
0,1.0,81.337515,Alexandria,Heller,Arts,1,86.677535
1,1.0,81.337515,Alexandria,Heller,Science,3,79.557508
2,2.0,79.137364,Cassie,Liska,Arts,2,79.542738
3,2.0,79.137364,Cassie,Liska,Science,3,78.867115
4,3.0,78.793700,Hayley,Frank,English,1,83.972245
5,3.0,78.793700,Hayley,Frank,Science,2,76.204427
6,4.0,71.481003,Maxwell,Kotch,Arts,1,69.356144
7,4.0,71.481003,Maxwell,Kotch,English,1,70.929801
8,4.0,71.481003,Maxwell,Kotch,Science,1,74.157066
9,5.0,76.718650,Dylan,Boehm,Arts,1,64.494845
10,5.0,76.718650,Dylan,Boehm,Science,1,100.000000
11,5.0,76.718650,Dylan,Boehm,Sport,1,65.661106
12,6.0,71.578832,Chelsea,Vuolo,Arts,1,68.799129
13,6.0,71.578832,Chelsea,Vuolo,Science,1,74.358535
14,7.0,73.325298,Katrina,Evers,Science,4,73.325298
15,8.0,88.198366,Sean,Hasenack,Arts,1,96.216926
16,8.0,88.198366,Sean,Hasenack,English,1,89.073972
17,8.0,88.198366,Sean,Hasenack,Science,1,79.304200
18,9.0,86.802830,Madalyn,Miller,Science,2,86.802830
19,10.0,80.622716,Katrina,Miller,Arts,1,80.085031
20,10.0,80.622716,Katrina,Miller,Science,2,78.642720
21,10.0,80.622716,Katrina,Miller,Sport,1,85.120393
22,11.0,72.498837,Rachael,Williams,Arts,2,70.931227
23,11.0,72.498837,Rachael,Williams,Science,1,75.634056
24,12.0,78.810949,Sophiya,Aponte,Arts,1,87.463154
25,12.0,78.810949,Sophiya,Aponte,English,2,83.145779
26,12.0,78.810949,Sophiya,Aponte,Science,1,61.489085
27,13.0,72.625824,Elijah,Hogan,Science,1,65.117226
28,13.0,72.625824,Elijah,Hogan,Sport,1,80.134422
29,15.0,71.333110,Catherine,Sturgeon,Arts,1,62.078946
...,...,...,...,...,...,...,...
472,263.0,75.549925,Kara,Sedlak,English,1,76.478726
473,263.0,75.549925,Kara,Sedlak,Science,3,77.299487
474,265.0,77.499552,Hannah,Anttila,Science,3,77.499552
475,266.0,70.008043,Maria,Gaddis,Arts,1,55.272243
476,266.0,70.008043,Maria,Gaddis,Sport,1,84.743844
477,267.0,82.657117,Catherine,Lemme,English,1,80.612820
478,267.0,82.657117,Catherine,Lemme,Science,3,83.338550
479,268.0,79.869976,Lauren,Salazar,Science,1,78.431908
480,268.0,79.869976,Lauren,Salazar,Sport,1,81.308043
481,269.0,77.639674,Tyler,Raymond,Arts,2,74.542943
482,269.0,77.639674,Tyler,Raymond,Science,2,80.736405
483,270.0,77.337873,Brooke,Bishop,Arts,2,72.487410
484,270.0,77.337873,Brooke,Bishop,Science,2,82.188336
485,271.0,88.463635,Mckayla,Greaser,Science,1,85.886297
486,271.0,88.463635,Mckayla,Greaser,Sport,1,91.040974
487,272.0,79.947686,Jennifer,Smith,Arts,1,69.461506
488,272.0,79.947686,Jennifer,Smith,Science,1,89.663116
489,272.0,79.947686,Jennifer,Smith,Sport,1,80.718437
490,273.0,73.334264,Kenneth,Lemmon,Science,3,73.334264
491,274.0,72.569900,Samantha,Anderson,English,1,72.569900
492,275.0,82.028830,Elise,Ohler,Arts,1,94.702880
493,275.0,82.028830,Elise,Ohler,English,1,71.617451
494,275.0,82.028830,Elise,Ohler,Science,2,80.897496
495,276.0,76.784735,Dylan,Bannister,Science,3,76.784735
496,277.0,80.482335,Bryan,Medina,Arts,2,78.849330
497,277.0,80.482335,Bryan,Medina,Science,4,81.298837
498,278.0,75.359189,Sydney,Blas,Science,1,72.578017
499,278.0,75.359189,Sydney,Blas,Sport,2,76.749775
500,280.0,76.621429,Matthew,Mcgrath,Arts,3,77.237998
501,280.0,76.621429,Matthew,Mcgrath,Science,2,75.696576