In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
df= sns.load_dataset('iris')

In [3]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
from importlib import reload
import pyMechkar as mechkar
reload(mechkar)

In [5]:
tab1 = mechkar.pyMechkar().Table1(data=df, y='species')
tab1

Factorizing... please wait
[****
[]
*****
*****
*****
[]
------ Finished in 2.0882954597473145econds -----

,Variables,Categories,Population,Category_setosa,Category_versicolor,Category_virginica,p_value
0,Individuals,n,150,50,50,50,NaN
1,sepal_length,Mean (SD),5.80 ( 0.80),5.00 ( 0.30),5.90 ( 0.50),6.60 ( 0.60),0.0
2,sepal_length,Median (IQR),5.80 ( 5.10- 6.40),5.00 ( 4.80- 5.20),5.90 ( 5.60- 6.30),6.50 ( 6.20- 6.90),NaN
4,sepal_width,Mean (SD),3.10 ( 0.40),3.40 ( 0.40),2.80 ( 0.30),3.00 ( 0.30),0.0
5,sepal_width,Median (IQR),3.00 ( 2.80- 3.30),3.40 ( 3.20- 3.70),2.80 ( 2.50- 3.00),3.00 ( 2.80- 3.20),NaN
7,petal_length,Mean (SD),3.80 ( 1.80),1.50 ( 0.20),4.30 ( 0.50),5.60 ( 0.50),0.0
8,petal_length,Median (IQR),4.40 ( 1.60- 5.10),1.50 ( 1.40- 1.60),4.40 ( 4.00- 4.60),5.60 ( 5.10- 5.90),NaN
10,petal_width,Mean (SD),1.20 ( 0.80),0.20 ( 0.10),1.30 ( 0.20),2.00 ( 0.30),0.0
11,petal_width,Median (IQR),1.30 ( 0.30- 1.80),0.20 ( 0.20- 0.30),1.30 ( 1.20- 1.50),2.00 ( 1.80- 2.30),NaN

In [6]:
mechkar.pyMechkar().exploreData(data=df, y='species')

Directory  report  already exists